<template>
  <div>
    <div v-if="user">
      Signed in as <strong>{{ user.username }}</strong> (<a
        href="#"
        @click.prevent="signOut"
        >Sign out</a
      >)
    </div>
    <md-button
      v-if="!user && redirectUrl"
      :href="redirectUrl"
      class="md-raised md-primary"
    >
      <i class="fab fa-discord" style="margin-right: 4px"></i>
      Sign in with discord</md-button
    >
  </div>
</template>

<script>
import { DateTime } from 'luxon'
import { api } from '@/api'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'DiscordButton',

  data: () => ({
    redirectUrl: ''
  }),

  computed: {
    ...mapState(['user'])
  },

  methods: {
    ...mapActions(['setToken', 'setUser', 'clearState']),

    signOut() {
      this.clearState()
    }
  },

  async mounted() {
    const uri = window.location.search.substring(1)
    const params = new URLSearchParams(uri)
    const code = params.get('code')

    if (code) {
      window.history.replaceState(null, null, window.location.pathname)

      try {
        const timezone = DateTime.local().zoneName
        const { token, user } = await api
          .post('discord', { json: { code, timezone } })
          .json()
        this.setToken(token)
        this.setUser(user)
      } catch (error) {
        console.error('Could not authenticate with Discord', error)
      }
    }

    this.redirectUrl = await api.get('discord/redirect').text()
  }
}
</script>
