<template>
  <div class="md-layout-item">
    <md-dialog-alert
      :md-active.sync="showHighPriceModal"
      md-content="You posted a high turnip price! Please consider opening your island and posting your DODO code for others to join!"
      md-confirm-text="Continue"
    />

    <form novalidate class="md-layout" @submit.prevent="validatePrice">
      <md-card class="md-layout-item">
        <md-card-header>
          <div class="md-title">Add price</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <discord-button />
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label for="last-name">Timezone</label>
                <md-input
                  name="timezone"
                  id="timezone"
                  v-model="user.timezone"
                  disabled
                />
              </md-field>
            </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('price')">
                <label for="gender">Price</label>
                <md-input
                  name="price"
                  id="price"
                  v-model="form.price"
                  :disabled="sending"
                />
                <span class="md-suffix">bells</span>
                <span class="md-error" v-if="!$v.form.price.required"
                  >The price is required</span
                >
                <span class="md-error" v-if="!$v.form.price.numeric"
                  >The price should be numeric</span
                >
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-radio v-model="form.morning" :value="true">Morning</md-radio>
              <md-radio v-model="form.morning" :value="false"
                >Afternoon</md-radio
              >
            </div>
          </div>
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending"
            >Add price</md-button
          >
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="priceSaved"
        >The price ({{ lastPrice }} bells) was saved!</md-snackbar
      >
    </form>
  </div>
</template>

<script>
import { prices } from '@/api'
import { validationMixin } from 'vuelidate'
import { required, numeric } from 'vuelidate/lib/validators'
import DiscordButton from '@/components/DiscordButton'
import { mapActions } from 'vuex'

export default {
  name: 'PriceForm',
  mixins: [validationMixin],
  components: { DiscordButton },

  data: () => ({
    form: {
      price: null,
      morning: new Date().getHours() < 12
    },
    priceSaved: false,
    sending: false,
    lastPrice: null,
    showHighPriceModal: false
  }),

  validations: {
    form: {
      morning: {
        required
      },

      price: {
        required,
        numeric
      }
    }
  },

  computed: {
    // This is so we can use v-model on the form elements without errors on load
    user: {
      get() {
        return this.$store.state.user || {}
      },

      set() {}
    }
  },

  methods: {
    ...mapActions(['fetchPrices']),

    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },

    clearForm() {
      this.$v.$reset()
      this.form.price = null
      this.form.morning = new Date().getHours() < 12
    },

    async savePrice() {
      this.sending = true

      const today = new Date()
      const price_date = new Date(
        today.getFullYear(),
        today.getMonth(),
        today.getDate(),
        this.form.morning ? 0 : 12,
        0,
        0,
        0
      )

      await prices.add(
        this.form.price,
        `${price_date.getFullYear()}-${price_date.getMonth() +
          1}-${price_date.getDate()}`,
        this.form.morning
      )
      this.lastPrice = this.form.price
      this.priceSaved = true
      this.sending = false
      this.fetchPrices()

      if (+this.form.price >= 400) {
        this.showHighPriceModal = true
      }

      this.clearForm()
    },

    validatePrice() {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.savePrice()
      }
    }
  }
}
</script>

<style scoped lang="scss"></style>
