<template>
  <div class="md-layout-item md-size-50 md-small-size-100">
    <md-table v-model="prices" md-card>
      <md-table-toolbar>
        <h1 class="md-title">Prices</h1>
      </md-table-toolbar>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="User" md-sort-by="user.username">
          <strong>{{ item.user ? item.user.username : 'unknown' }}</strong>
          ({{ getTime(item.user.timezone) }})
        </md-table-cell>
        <md-table-cell md-label="Current Price" md-sort-by="price">{{
          item.price
        }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import { DateTime } from 'luxon'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'PriceTable',

  data: () => ({
    priceInterval: null
  }),

  computed: {
    ...mapState(['prices'])
  },

  methods: {
    ...mapActions(['fetchPrices']),

    getTime(tz) {
      return DateTime.local()
        .setZone(tz)
        .toLocaleString(DateTime.TIME_SIMPLE)
    }
  },

  async mounted() {
    this.fetchPrices()
    this.priceInterval = setInterval(() => this.fetchPrices(), 30000)
  },

  beforeDestroy() {
    clearTimeout(this.priceInterval)
  }
}
</script>
