<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <span class="md-title" style="flex: 1">Turnip Prices</span>
        <md-button @click="showAboutModal = true">About</md-button>
      </md-app-toolbar>

      <md-app-content>
        <div class="md-layout main-layout">
          <price-form />
          <price-table />
          <div class="md-layout-item md-size-50 md-small-size-100">
            <md-card class="md-layout-item">
              <md-card-content>
                <apexchart
                  type="line"
                  :options="options"
                  :series="series"
                ></apexchart>
              </md-card-content>
            </md-card>
            <!-- <line-chart
              data="/chart"
              :refresh="60"
              :xmin="xmin"
              :xmax="xmax"
              :library="{
                scales: {
                  xAxes: [
                    {
                      type: 'time',
                      time: {
                        unit: 'hour',
                        stepSize: 12,
                        displayFormats: { hour: 'MMM D hA' }
                      }
                    }
                  ]
                }
              }"
            /> -->
          </div>
        </div>

        <md-dialog :md-active.sync="showAboutModal">
          <md-dialog-title>About</md-dialog-title>

          <md-dialog-content>
            <p>
              <em>Turnip Prices</em> is a small website to keep track of the
              sell price of turnips in Animal Crossing: New Horizons.<br />
              It's all about helping each other get the most profit out of your
              turnips!
            </p>
            <p><strong>Xikeon</strong> - <em>Developer</em></p>
            <p><strong>edbob</strong> - <em>Finding bugs and testing</em></p>

            <div class="md-title" style="padding-top: 10px">Changelog</div>
            <ul class="changelog">
              <li>
                <div>
                  <em>14-04-2020 - <strong>v0.7b</strong></em>
                </div>
                Fix timezone issue with chart, fix error with fetching data
              </li>
              <li>
                <div>
                  <em>13-04-2020 - <strong>v0.7a</strong></em>
                </div>
                Added chart with all prices of the current week
              </li>
              <li>
                <div>
                  <em>08-04-2020 - <strong>v0.6</strong></em>
                </div>
                Added about dialog, code clean up and improvements
              </li>
              <li>
                <div>
                  <em>07-04-2020 - <strong>v0.5</strong></em>
                </div>
                Show message about opening your island when posting a high price
                (400+), added database migrations
              </li>
              <li>
                <div>
                  <em>05-04-2020 - <strong>v0.4</strong></em>
                </div>
                Add discord login, validate price to be numeric
              </li>
              <li>
                <div>
                  <em>03-04-2020 - <strong>v0.3</strong></em>
                </div>
                Fix error where it fetched prices for the wrong date
              </li>
              <li>
                <div>
                  <em>02-04-2020 - <strong>v0.2</strong></em>
                </div>
                Hide shops outside of opening hours
              </li>
              <li>
                <div>
                  <em>02-04-2020 - <strong>v0.1</strong></em>
                </div>
                Initial version
              </li>
            </ul>
          </md-dialog-content>

          <md-dialog-actions>
            <md-button class="md-primary" @click="showAboutModal = false"
              >Close</md-button
            >
          </md-dialog-actions>
        </md-dialog>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
import PriceForm from '@/components/PriceForm'
import PriceTable from '@/components/PriceTable'
import { prices } from '@/api'

export default {
  name: 'App',
  components: {
    PriceForm,
    PriceTable
  },
  data: () => ({
    showAboutModal: false,
    options: {
      chart: {
        zoom: false
      },
      markers: {
        size: 4
      },
      stroke: {
        curve: 'smooth',
        width: 2
      },
      legend: {
        position: 'top'
      },
      xaxis: {
        categories: [
          'Monday AM',
          'Monday PM',
          'Tuesday AM',
          'Tuesday PM',
          'Wednesday AM',
          'Wednesday PM',
          'Thursday AM',
          'Thursday PM',
          'Friday AM',
          'Friday PM',
          'Saturday AM',
          'Saturday PM'
        ],
        title: {
          text: 'Day'
        }
      },
      yaxis: {
        title: {
          text: 'bells'
        }
      }
    },
    series: []
  }),
  async beforeMount() {
    this.series = await prices.chart()
  },
  beforeDestroy() {}
}
</script>

<style lang="scss" scoped>
.md-app {
  min-height: 100vh;
}

.main-layout > div {
  margin-bottom: 20px;
}

.changelog {
  list-style: none;
  padding: 0;

  li:not(:last-child) {
    margin-bottom: 6px;
  }
}
</style>
